@charset "utf-8";

.contents > [class*="tit"] {padding:0 0 8px}

/* list */
.list-ico > li {position: relative; padding:24px 0 0; font-size: 16px; color:#666; line-height: 1.5; letter-spacing: -0.4px; }
.list-ico > li .strong {display:block; padding-bottom:5px; font-size:16px; color:#222; font-weight: bold; letter-spacing: -0.4px; }
.list-ico.num {counter-reset: section; }
.list-ico.num > li {position:relative; padding:0 0 24px 31px; font-size:14px; line-height: 1.43; letter-spacing: -0.2px; color: #666666; }
.list-ico.num > li:before {content: "0" counter(section)""; counter-increment: section; position:absolute; top:0; left:0; font-size: 16px; font-weight: bold; line-height: 1.5; letter-spacing: -0.4px; color: #222;}

.list-dot > li {position:relative; padding:0 0 5px 11px; font-size: 16px; line-height: 1.5; letter-spacing: -0.4px; color: #666;}
.list-dot > li:before {content:""; display:block; position:absolute; top:10px; left:0; width:4px; height:4px; background:#999; border-radius:50%; -webkit-border-radius:50%;}
.list-dot > li a {color:#666}
.list-dot.type02 > li {padding:0 0 16px 0; }
.list-dot.type02 > li:before {display:none} 

/* form list */
.form-text-list li {display:table; width:100%;}
.form-text-list li + li {padding-top:20px;}
.form-text-list li:after {content:""; display:block; clear:both;}
.form-text-list li .cell {display:table-cell;}
.form-text-list li .cell + .cell {padding-left:16px;}

.form_text {position:relative; display:block; height:56px; border-bottom:1px solid #ddd}
.form_text:focus {border-bottom:1px solid #ffcc00}
.form_text.on {border-color:#ffcc00;} /* active 상태*/
.form_text.on.out {border-color:#ddd} /* 값 입력 후 focusout */
.form_text.error {border-color:#ff0000;} /* validation error */

.form_text label {display:block; padding:4px 0 3px; font-size: 14px; font-weight: normal; line-height: 1.43; letter-spacing: -0.2px;color: #888;}
.form_text .text {display:block; width:100%; font-size: 16px; line-height:24px; font-weight: 500; letter-spacing: -0.4px; color: #222; border:0; background-color: #fff !important;} 
.form_text .text:disabled {color:#888}
.form_text.select:after {content:""; display:block; position:absolute; top:0; right:0; width:48px; height:55px; background:#fff url(../images/icon/ico_form_select.png) center center no-repeat; background-size: 16px 16px; z-index:1}
.form_text .text::placeholder {color:#888}
.form_text .text:-ms-input-placeholder {color:#888}
.form_text .text::-webkit-input-placeholder {color:#888}

/* 카드번호 */
.card-number-text .text {display:inline-block; vertical-align:middle; width:50px; letter-spacing: 3px;;}
.card-number.text {letter-spacing: 3px;}
.card-number.text::placeholder {letter-spacing: -0.4px; }
.card-number.text:-ms-input-placeholder {letter-spacing: -0.4px; }
.card-number.text::-webkit-input-placeholder {letter-spacing: -0.4px; }
.form_text .dash {display:inline-block; padding:0 8px; vertical-align:middle; color:#aaa; line-height:24px;}

/* 휴대폰번호 인증요청*/
.ph-certi-btn {display: block; position:absolute; top:12px; right:0; width: 80px; height: 32px; border-radius: 8px; border: solid 1px #ddd; background-color: #fff; text-align: center; font-size: 14px; line-height: 1.43; letter-spacing: -0.2px; color: #666;}
/* 인증번호 타임*/
.form_text .time {position:absolute; top:18px; right:0; font-size: 14px; line-height: 1.43; letter-spacing: -0.2px; color: #ff0000;}

/* error text */
.error-txt {display:block; padding-top:16px; width:100%; font-size:12px; color:#ff0000; line-height: 1.33; letter-spacing: -0.2px;}
.error-txt:before {content:"!"; position:absolute; top:5px; left:0; display:block; width:12px; height:12px; border-radius:50%; -webkit-border-radius:50%; border:1px solid #ff0000; text-align:center; line-height:11px; font-size:11px; font-weight:600}
.error-txt.certi {text-align:center;}
.error-txt.certi:before {display:none}
.error-txt.type02 {position: relative; padding-top:8px; padding-left:23px;}
.form_text + .error-txt {position: relative; padding-top:4px; padding-left:19px; display: none;}
.form_text.error + .error-txt {display:block;}

/* 인증번호 입력 */
.passWrap {position:relative; text-align:center;}
.passWrap .time {padding:19px 0 0; font-size:14px; line-height:20px; color:#ff0000}

.id-number {width:100%; overflow: hidden;} /* 주민번호*/
.id-number .pass-input {width:50%; float:left;} /* 주민번호 앞자리 + 뒷자리 */
.pass-input {position:relative; display:inline-block; z-index:1;}
.pass-input .hidden-field {position:absolute; top:0; left:0; z-index:-1;}

.pass-input .dot {position:relative; display:inline-block; width:12px; font-size:18px; color:#222; vertical-align:middle}
.pass-input .dot:before {content:""; display:block; position:absolute; top:13px; left:0; width:12px; height:12px; border-radius:50%; -webkit-border-radius:50%; background:#eee;}
.pass-input .dot.black {text-indent:-9999em}
.pass-input .dot.black:before {background:#222}
.pass-input .dot.on.black:before {display:block; background:#222}
.pass-input .dot.on:before {display:none; background:none}
.pass-input .dash {color:#aaa; line-height:40px;}

/* 결제비밀번호 입력 > 숫자로 받음 */
.password {opacity:1 !important}
.password .pass-input .dot {font-size:24px; width:24px; height:24px; line-height:24px;}
.password .pass-input .dot:before {top:6px; left:4px; width:16px; height:16px;}
.password .pass-input .dot + .dot {margin-left:0;}

/* 결제비밀번호 입력 > 도트로 받음 */
.password .pass-input .dot.yellow.on {text-indent: -99999em;}
.password .pass-input .dot.yellow.on:before {display:block; background:#ffcc00}

.pass-input.pass input {color:#ffcc00; font-size:60px; line-height:60px;}
.pass-bg {position:absolute; top:0; left:0; width:100%; text-align:center;}
.pass-bg input {width:24px; font-size:60px; line-height:60px; color:#eee; text-align:center;}
.pass-bg input.black {color:#222}

/* 숫자 or 패스워드로 받을 때 */
.pass-input-match {position:relative; }
.pass-input-match .text {position:absolute; top:25px; left:0; width:100%; z-index:-1; opacity:0;}
/* 화면가운데 있는 비번 > 카드비밀번호/결제비밀번호*/
.card-pass .pass-input-match {padding-top:16px;}
.card-pass .pass-input-match .text {top:45px;}

.form_text .pass-input {position: absolute; top:-20px; left:0;}

/* form + 약관동의 */
.agree {padding-top:16px;}
.agree label {font-size:14px; line-height: 1.43; letter-spacing: -0.2px; color: #666;}
.agree label:focus {outline: 1px dotted #999;}
.agree label input {position: absolute; left: -9999px; top: -9999px;}
.agree label span {text-decoration: underline;}
.agree label span:before {content: ""; display: inline-block; width: 24px; height: 24px; margin-right: 7px; background: url(../images/icon/ico_chk_off02.png) no-repeat; background-size: contain; vertical-align: top;}
.agree label input:checked + span:before {background: url(../images/icon/ico_chk_on02.png) no-repeat; background-size: contain;}

/* 우측 정렬 밑줄 버튼 */
.btn-line {display:inline-block; padding:23px 0 2px; font-size: 14px; font-style: normal; line-height: 1.43; letter-spacing: -0.2px; color: #666; border-bottom:1px solid #aaa; background: none;}
.btn-line:after {content:""; display:block; clear: both;}
.btn-line + .btn-line {margin-left:9px;}

.login-type-list {display: table; padding-top:8px; width:100%; text-align: center;}
.login-type-list li {display:table-cell; text-align:center}
.login-type-list li a {font-size: 16px; line-height: 1.5; letter-spacing: -0.4px; color: #222;}
.login-type-list li a:before {content: ''; display:inline-block; width:24px; height:24px; vertical-align:middle; margin-right:8px; background:url(../images/icon/ico_kakao_login.png) center center no-repeat; background-size: 100%;}
.login-type-list li:nth-child(2) a:before {background:url(../images/icon/ico_kbpay_login.png) center center no-repeat; background-size: 100%;}

/* 페이지 depth */
.depth-step {display: inline-block; margin-top: -13px; padding:0 0 12px; width: 100%; vertical-align: top;}
.depth-step li {float: left; padding-right: 8px;}
.depth-step li span {display:inline-block; width:8px; height:0; padding-top:8px; background:#ddd; overflow: hidden; vertical-align: middle; border-radius: 50%; }
.depth-step li.on span {width:16px; height:16px; padding-top:0; text-align: center; background: #ffcc00; font-size: 10px; line-height:14px; font-weight: bold; color: #000000; }

/* 비밀번호 입력 화면 */
.pass.contents {padding-top:32px;}

/* 회원정보 입력(kbp_webp_012) */
.ph-select {width:136px;}

/* cvc 란 */
.cvc-wrap {position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:100%; text-align: center;}
.cvc-wrap p {font-size: 16px; line-height: 1.5; letter-spacing: -0.4px; color: #222222;}
.cvc-img {position:relative; display:block; margin:16px auto 0; width:192px;}
.cvc-img img {position:relative; width:100%; z-index:2}

/* 하단 고정 버튼 */
.bottom-btn {position: absolute; bottom: 0; right: 16px; text-align: right;}

.kbp_payc_052 .list-ico {margin-top:16px; border-top:1px solid #ddd;}
.kbp_payc_052 .list-ico > li:first-child {padding-top:16px;}
.kbp_payc_052 .list-dot {margin-top:16px; padding:16px 0; border-top: 1px solid #eee; }

.kbp_payc_015 .tool-tip {padding:0; width:100%; text-align:right}
.kbp_payc_015 .tip-box {top:inherit; bottom:30px; left:32px; width:auto;}




@media only screen and (max-width: 375px) {
    .login-type-list li a {font-size:12px;}

    .form_text label {font-size:12px}
    .form_text .text {font-size:14px;}
    .form_text .text.ph {width:calc(100% - 45px)}
    .form_text .text::placeholder {font-size:11px;}
    .form_text .text:-ms-input-placeholder {font-size:11px}
    .form_text .text::-webkit-input-placeholder {font-size:11px}
    .ph-certi-btn {top:17px; width:auto; padding:0 2px; font-size:10px;}
}
